<section class="container-lg w-100" style="margin-top: 100px;">
  <div class="d-flex justify-content-between align-items-center">

    <div class="d-flex justify-content-center flex-column">
      <h2 style="font-size: 40px;">{{adventureData?.title}}</h2>
      <div class="d-flex c-blue1 font2 mt-2" style="font-weight: 700 ;font-size: 28px;">
        <img src="{{categ?.icon}}" class="mx-2" style="object-fit: cover;width: 13px">
        {{categ?.title}}
      </div>
    </div>
    <button mat-raised-button matTooltip="Copy Link" [cdkCopyToClipboard]="getUrl()" class="btn rounded-pill rounded px-5 py-3 " style="background-color: #F2F2F2;height: 50px;">
      <div class=" d-flex c-blue1 font2 fw-bold align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="c-blue1 mx-2 bi bi-share-fill" viewBox="0 0 16 16">
          <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
        </svg>
        Share
      </div>
    </button>

  </div>



  <div class="row rounded-4 overflow-hidden mt-5 gap-3 gap-lg-0">
    <div class="col-12 col-lg-6 ps-0 pe-1" style="max-height: 380px;height: 380px;">
        <img src="{{adventureData?.image ? domain+adventureData.images[0].image : emptyImg}}" style="width: 100%;height: 100%;object-fit: cover;">
    </div>
    <div class="col-12 col-lg-6 row p-0 m-0 " style="max-height: 380px;height: 380px;">
        <div class="col-6 p-1 pt-0 overflow-auto" style="max-height: 192px;height: 192px;">
          <img src="{{adventureData?.images[0] ? domain+adventureData.images[0].image : emptyImg}}" style="width: 100%;height: 100%;object-fit: cover;">
        </div>
        <div class="col-6 p-1 pt-0 pe-0 overflow-auto" style="max-height: 192px;height: 192px;">
          <img src="{{adventureData?.images[1] ? domain+adventureData.images[1].image : emptyImg}}" style="width: 100%;height: 100%;object-fit: cover;">
        </div>
        <div class="col-6 p-1 overflow-auto" style="max-height: 192px;height: 192px;">
          <img src="{{adventureData?.images[2] ? domain+adventureData.images[2].image : emptyImg}}" style="width: 100%;height: 100%;object-fit: cover;">
        </div>
        <div class="overflow-hidden position-relative col-6 p-1 pe-0 overflow-auto" style="max-height: 192px;height: 192px;">
          <div class="h-100" *ngIf="adventureData.images.length<4">
            <img src="{{adventureData?.images[3] ? domain+adventureData.images[3].image : emptyImg}}" style="width: 100%;height: 100%;object-fit: cover;">
          </div>
          <div *ngIf="adventureData.images.length>4"  class="overlay-seemore h-100" data-bs-toggle="modal" data-bs-target="#seeMorePhotos">
            <img src="{{adventureData?.images[3] ? domain+adventureData.images[3].image : emptyImg}}" style="width: 100%;height: 100%;object-fit: cover;">
          </div>
        </div>
    </div>
  </div>
  <div class="my-5 d-flex flex-column align-content-center  flex-lg-row justify-content-lg-between gap-3">
    <div class="d-flex gap-3 align-items-center flex-column flex-lg-row">
      <div class="d-flex gap-2 align-items-center rounded-4 h-100 p-3" style="background-color: #FFFDF3;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="c-blue2 bi bi-credit-card-fill" viewBox="0 0 16 16">
          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1H0V4zm0 3v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7H0zm3 2h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1z"/>
        </svg>
        <div class="d-flex flex-column justify-content-center align-items-center">
          <span class="font2" style="color: #767E86; font-size: 16px;font-weight: 400;">Price</span>
          <span class="c-blue2 font2" style="font-size: 21px;font-weight: 700;">EGY</span>
        </div>
        <span class="c-blue2 font2" style="font-size: 45px;font-weight: 700;line-height: 58px;">{{adventureData?.price | number: '1.0-0'}}</span>
      </div>
      <div class="m-0 c-blue2 font2 gap-2 d-flex align-items-center rounded-4 h-100 p-3" style="font-size: 20px;background-color: #FFFDF3;">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="c-blue2 bi bi-calendar2-week-fill" viewBox="0 0 16 16">
          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zm9.954 3H2.545c-.3 0-.545.224-.545.5v1c0 .276.244.5.545.5h10.91c.3 0 .545-.224.545-.5v-1c0-.276-.244-.5-.546-.5zM8.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM3 10.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
        </svg>
        {{adventureData?.date}}</div>
    </div>
    <button [routerLink]="['/adventure/'+ adventureData?.id +'/book']" style="width: fit-content;height: 54px;" mat-raised-button class="w-100 font2 bg-blue3 px-5 py-1 rounded rounded-3 btn text-white">
      <span style="font-size: 18px;font-weight: 700;" class="font2">Book Now</span>
    </button>
  </div>

  <p class="font2" style="line-height: 38.13px;font-size: 28px;">{{adventureData?.description}}</p>

  <div class="row my-5 gap-4">

    <div *ngFor="let item of adventureData.steps ? adventureData.steps : []" class="col-12 d-none d-lg-flex gap-5">
      <img src="{{domain+item?.image}}" class="rounded-5" style="min-width: 205px; width: 205px;min-height: 205px;height: 205px;object-fit: cover;">
      <div>
        <h2 class="font2 dot-before" style="font-weight: 700;font-size: 28px;">{{item?.title}}</h2>
        <p class="font2" style="line-height: 32px;font-size: 24px;">{{item?.description}}</p>
      </div>
    </div>

    <div *ngFor="let item of adventureData.steps ? adventureData.steps : []" class="col-12 d-flex flex-column d-lg-none gap-2">
      <h2 class="font2 dot-before" style="font-weight: 700;font-size: 28px;">{{item?.title}}</h2>
      <img src="{{domain+item?.image}}" class="rounded-5" style="width: 100%;height: 100%;object-fit: cover;">
      <div>
        <p class="font2" style="line-height: 32px;font-size: 24px;">{{item?.description}}</p>
      </div>
    </div>


  </div>
</section>
<!-- start modals -->

<div class="modal fade" id="seeMorePhotos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Photos</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row p-3">

          <div *ngFor="let item of adventureData.images ? adventureData.images : []" class="col-lg-4 col-12 p-1">
            <img src="{{domain+item?.image}}" class="rounded rounded-2" style="object-fit: cover;min-height: 300px;max-height: 300px; width: 100%; height: 100%;">
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- end modals -->
