<section class="container-lg w-100" style="margin-top: 100px;">
  <div class="d-flex justify-content-between align-items-center flex-column flex-lg-row gap-4 gap-lg-0">

    <div class="d-flex justify-content-center flex-column">
      <h2 class="d-none d-lg-block" style="font-size: 40px;line-height: 33px;">{{adventureData?.title}}</h2>
      <h2 class="d-lg-none d-block text-center" style="font-size: 30px;line-height: 33px;">{{adventureData?.title}}</h2>
      <div class="d-flex c-blue1 font2 mt-2" style="font-weight: 700 ;font-size: 28px;">
        <mat-icon style="width: 26px;height: 26px;font-size: 26px;" class="c-blue1 mx-2 material-symbols-outlined">{{categ?.icon}}</mat-icon>
        {{categ?.title}}
      </div>
    </div>
    <button mat-button [matMenuTriggerFor]="menu" mat-raised-button class="btn rounded-pill rounded px-4" style="background-color: #F2F2F2;height: 40px;">
      <div class=" d-flex c-blue1 font2 fw-bold align-items-center" style="font-size: 14px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="c-blue1 mx-2 bi bi-share-fill" viewBox="0 0 16 16">
          <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
        </svg>
        Share
      </div>
    </button>
    <mat-menu #menu="matMenu">
      <div class="d-flex flex-nowrap gap-3 px-3 py-1 justify-content-center align-items-center">
        <a matTooltip="Share on Facebook" href="https://www.facebook.com/sharer.php?u={{URL}}" target="_blank" class="text-decoration-none text-black">
          <svg style="cursor: pointer;color: #3149c3;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
          </svg>
        </a>
        <a matTooltip="Share on Twitter" href="https://twitter.com/intent/tweet?text={{URL}}" target="_blank" class="text-decoration-none text-black">
          <svg style="cursor: pointer;color: #6ea8ff;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
            <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
          </svg>
        </a>
        <div  (mouseenter)="initCopy()" (click)="setCopy(tooltip)" #tooltip="matTooltip" matTooltip="{{copyText}}"  [cdkCopyToClipboard]="URL" class="text-decoration-none text-black " style="cursor: pointer;">
          <mat-icon  style="width: 28px;height: 23px;font-size: 28px;">link</mat-icon>
        </div>
      </div>
    </mat-menu>

  </div>



  <div class="row rounded-4 overflow-hidden mt-5 gap-2 gap-lg-0">
    <div class="col-12 col-lg-6 ps-lg-0 px-0 pe-lg-1" style="max-height: 380px;height: 380px;">
      <div class="w-100 h-100  overflow-hidden view-img-con"   attr.data-bs-toggle="{{adventureData?.image ? 'modal' : '' }}" attr.data-bs-target="{{adventureData?.image ? '#seePhoto' : '' }}" (click)="selectedIMG=adventureData?.image">
        <img  src="{{adventureData?.image ? adventureData?.image : emptyImg}}" style="width: 100%;height: 100%;object-fit: cover;">
      </div>
    </div>
    <div class="col-12 col-lg-6 row p-0 m-0 " style="max-height: 380px;height: 380px;">
        <div class="col-6 pe-1 ps-0 pb-1 ps-lg-1 pt-0" style="max-height: 192px;height: 192px;">
          <div class="w-100 h-100  overflow-hidden" [ngClass]="{'view-img-con': adventureData?.images[0]}"  attr.data-bs-toggle="{{adventureData?.images[0] ? 'modal' : '' }}" attr.data-bs-target="{{adventureData?.images[0] ? '#seePhoto' : '' }}" (click)="selectedIMG=adventureData?.images[0]?.image">
            <img  src="{{adventureData?.images[0] ? adventureData.images[0].image : emptyImg}}" style="width: 100%;height: 100%;object-fit: cover;">
          </div>
        </div>
        <div class="col-6 p-1 pt-0 pe-0" style="max-height: 192px;height: 192px;">
          <div class="w-100 h-100  overflow-hidden" [ngClass]="{'view-img-con': adventureData?.images[1]}"  attr.data-bs-toggle="{{adventureData?.images[1] ? 'modal' : '' }}" attr.data-bs-target="{{adventureData?.images[1] ? '#seePhoto' : '' }}" (click)="selectedIMG=adventureData?.images[1]?.image">
            <img src="{{adventureData?.images[1] ? adventureData.images[1].image : emptyImg}}" style="width: 100%;height: 100%;object-fit: cover;">
          </div>
        </div>
        <div class="col-6 pe-1 ps-0 pt-1 p-lg-1 " style="max-height: 192px;height: 192px;">
          <div class="w-100 h-100  overflow-hidden"  [ngClass]="{'view-img-con': adventureData?.images[2]}"  attr.data-bs-toggle="{{adventureData?.images[2] ? 'modal' : '' }}" attr.data-bs-target="{{adventureData?.images[2] ? '#seePhoto' : '' }}" (click)="selectedIMG=adventureData?.images[2]?.image">
            <img src="{{adventureData?.images[2] ? adventureData.images[2].image : emptyImg}}" style="width: 100%;height: 100%;object-fit: cover;">
          </div>
        </div>
        <div class=" position-relative col-6 p-1 pe-0" style="max-height: 192px;height: 192px;">
          <div [ngClass]="{'view-img-con': adventureData?.images[3]}" class="h-100 w-100 overflow-hidden" [ngClass]="{'view-img-con': adventureData?.images[3]}" *ngIf="adventureData?.images.length<=4"  attr.data-bs-toggle="{{adventureData?.images[3] ? 'modal' : '' }}" attr.data-bs-target="{{adventureData?.images[3] ? '#seePhoto' : '' }}" (click)="selectedIMG=adventureData?.images[3]?.image">
            <img  src="{{adventureData?.images[3] ? adventureData.images[3].image : emptyImg}}" style="width: 100%;height: 100%;object-fit: cover;">
          </div>
          <div *ngIf="adventureData?.images.length>4"  class="overlay-seemore w-100 h-100 overflow-hidden"   attr.data-bs-toggle="{{adventureData?.images[3] ? 'modal' : '' }}" attr.data-bs-target="{{adventureData?.images[3] ? '#seeMorePhotos' : '' }}">
            <img src="{{adventureData?.images[3] ? adventureData.images[3].image : emptyImg}}" style="width: 100%;height: 100%;object-fit: cover;">
          </div>
        </div>
    </div>
  </div>
  <div class="my-5 d-flex flex-column align-items-center justify-content-center  flex-lg-row justify-content-lg-between gap-3">
    <div class="d-lg-flex d-none gap-3  flex-column flex-lg-row">
      <div class="d-flex gap-2 align-items-center justify-content-center rounded-4  p-3" style="background-color: #FFFDF3;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="c-blue2 bi bi-credit-card-fill" viewBox="0 0 16 16">
          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1H0V4zm0 3v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7H0zm3 2h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1z"/>
        </svg>
        <div class="d-flex flex-column">
          <span class="font2" style="color: #767E86; font-size: 14px;font-weight: 400;">Price Per Person</span>
          <div class="d-flex flex-row justify-content-center  align-items-center">
            <span class="c-blue2 font2 px-2" style="margin-top: 3px; font-size: 36px;font-weight: 700;">€</span>
            <span class="c-blue2 font2" style="font-size: 42px;font-weight: 700;line-height: 42px;">{{adventureData?.price | number: '1.0-0'}}</span>
          </div>
        </div>
      </div>
      <div class="m-0 c-blue2 font2 gap-2 d-flex align-items-center rounded-4 p-3" style="font-size: 20px;background-color: #FFFDF3;">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="c-blue2 bi bi-calendar2-week-fill" viewBox="0 0 16 16">
          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zm9.954 3H2.545c-.3 0-.545.224-.545.5v1c0 .276.244.5.545.5h10.91c.3 0 .545-.224.545-.5v-1c0-.276-.244-.5-.546-.5zM8.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM3 10.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
        </svg>
        <span class="font2" [innerHtml]="adventureData?.date | dateFIx"></span>
      </div>
    </div>
    <div class="d-flex gap-3 w-100 d-lg-none flex-column flex-lg-row">
      <div class="d-flex gap-2 align-items-center justify-content-center rounded-4  p-3" style="background-color: #FFFDF3;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="c-blue2 bi bi-credit-card-fill" viewBox="0 0 16 16">
          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1H0V4zm0 3v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7H0zm3 2h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1z"/>
        </svg>
        <div class="d-flex flex-column">
          <span class="font2" style="color: #767E86; font-size: 14px;font-weight: 400;">Price Per Person</span>
          <div class="d-flex flex-row justify-content-center  align-items-center">
            <span class="c-blue2 font2 px-2" style="margin-top: 3px; font-size: 36px;font-weight: 700;">€</span>
            <span class="c-blue2 font2" style="font-size: 42px;font-weight: 700;line-height: 42px;">{{adventureData?.price | number: '1.0-0'}}</span>
          </div>
        </div>
      </div>

      <div class="m-0 c-blue2 font2 gap-2 d-flex align-items-center  justify-content-center  rounded-4 p-3" style="font-size: 20px;background-color: #FFFDF3;">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="c-blue2 bi bi-calendar2-week-fill" viewBox="0 0 16 16">
          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zm9.954 3H2.545c-.3 0-.545.224-.545.5v1c0 .276.244.5.545.5h10.91c.3 0 .545-.224.545-.5v-1c0-.276-.244-.5-.546-.5zM8.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM3 10.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
        </svg>
        <span class="font2" [innerHtml]="adventureData?.date | dateFIx"></span>
      </div>
    </div>
    <button [routerLink]="['/adventure/'+ adventureData?.id +'/book']" style="width: fit-content;height: 54px;" mat-raised-button class="font2 bg-blue3 px-5 py-1 rounded rounded-3 d-none d-lg-block btn text-white">
      <span style="font-size: 18px;font-weight: 700;" class="font2">Book Now</span>
    </button>
    <button [routerLink]="['/adventure/'+ adventureData?.id +'/book']" style="width: fit-content;height: 54px;" mat-raised-button class="font2 bg-blue3 px-5 py-1 rounded rounded-3 d-block d-lg-none w-100 btn text-white">
      <span style="font-size: 18px;font-weight: 700;" class="font2">Book Now</span>
    </button>
  </div>

  <p class="font2" style="line-height: 28px;font-size: 20px;">{{adventureData?.description}}</p>

  <div class="row my-5 gap-4">

    <div *ngFor="let item of adventureData?.steps ? adventureData.steps : []" class="col-12 d-none d-lg-flex gap-5">
      <div style="min-width: 205px; width: 205px;min-height: 205px;height: 205px;" (click)="selectedIMG=item?.image"  data-bs-toggle="modal" data-bs-target="#seePhoto" class=" view-img-con overflow-hidden rounded-5">
        <img src="{{item?.image}}" class="rounded-5"  style="min-width: 205px; width: 205px;min-height: 205px;height: 205px;object-fit: cover;">

      </div>
      <div>
        <h2 class="font2 dot-before" style="font-weight: 700;font-size: 28px;">{{item?.title}}</h2>
        <p class="font2" style="line-height: 28px;font-size: 20px;">{{item?.description}}</p>
      </div>
    </div>

    <div *ngFor="let item of adventureData?.steps ? adventureData.steps : []" class="col-12 d-flex flex-column d-lg-none gap-2">
      <h2 class="font2 dot-before" style="font-weight: 700;font-size: 28px;">{{item?.title}}</h2>
      <div style="width: 100%;height: 100%" (click)="selectedIMG=item?.image" class="view-img-con overflow-hidden rounded-5" data-bs-toggle="modal" data-bs-target="#seePhoto">

        <img src="{{item?.image}}" class="rounded-5"   style="width: 100%;height: 100%;object-fit: cover;">
      </div>
      <div>
        <p class="font2" style="line-height: 28px;font-size: 20px;">{{item?.description}}</p>
      </div>
    </div>


  </div>
</section>
<!-- start modals -->

<div class="modal fade" data-bs-scroll="true" id="seeMorePhotos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row p-3">

          <div *ngFor="let item of adventureData?.images ? adventureData.images : []" class="col-lg-4 col-12 p-1">
            <img src="{{item?.image}}" class="rounded rounded-2" style="object-fit: cover;min-height: 300px;max-height: 300px; width: 100%; height: 100%;">
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="seePhoto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row p-3">

          <div  class="col-12 p-1 h-100 d-flex justify-content-center">
            <img src="{{selectedIMG}}" class="rounded rounded-2" style="object-fit: cover; max-width: 100%; height: 75vh;">
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- end modals -->
