<section class="container-lg w-100" style="margin-top: 100px;">
  <div class="row">

    <div class="d-flex d-lg-none col-12 col-lg-4 p-2 my-2">
      <div class=" rounded rounded-4 d-flex flex-column overflow-hidden h-100" style="background-color: #FFFDF3;">
        <div class="overflow-hidden position-relative w-100" style="min-height: 380px;max-height: 380px;">
          <img class="hvr-grow w-100 h-100" [routerLink]="['/adventure/'+ adventureData?.id]" src="{{adventureData?.image}}" style="cursor: pointer; object-fit: cover;">
        </div>
        <div class="p-3 d-flex flex-column justify-content-between" style="max-height: 337px; height: 100%;">
          <h3 class="m-0 mt-3 font1 line-overflow-2" style="font-weight: 600; font-size: 23px;">{{adventureData?.title}}</h3>
          <div class="d-flex justify-content-between align-items-center my-3  flex-wrap gap-3">
            <div class="d-flex c-blue1 font2 align-items-center gap-1" style="font-size: 18px;font-weight: 700;">
            <mat-icon style="width: 22px;height: 22px;font-size: 22px;" class="c-blue1 material-symbols-outlined">{{getCateg(adventureData?.category_id)?.icon}}</mat-icon>

              <!-- <img class="me-1" style="object-fit: cover;width: 13px" src="assets/images/categ1.svg" alt=""> -->

              {{getCateg(adventureData?.category_id)?.title}}
            </div>
            <p class="m-0 c-blue3 font2" style="font-size: 16px" [innerHtml]="adventureData?.date | dateFIx"></p>
            <!-- <p class="m-0 c-blue3" style="font-size: 20px"> 15 <span class="mx-1" style="color: #767E86;">to</span> 8 6</p> -->

          </div>
          <p class="font2 my-4 line-overflow-3" style="font-size: 16px;line-height: normal;">{{adventureData?.description}}</p>

          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column">
              <span class="font2" style="color: #767E86; font-size: 13px;font-weight: 400;">Price Per Person</span>
              <div class="d-flex flex-row justify-content-center  align-items-center">
                <span class="c-blue2 font2 px-2" style="margin-top: 3px; font-size: 36px;font-weight: 700;">€</span>
                <span class="c-blue2 font2" style="font-size: 40px;font-weight: 700;line-height: 42px;">{{adventureData?.price | number: '1.0-0'}}</span>
              </div>
            </div>
            <span class="font2" style="font-size: 15px;font-weight: 700;">Booking Now</span>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!isSuccess" class="col-12 col-lg-8 p-2 my-2">
      <h1 class="header-sec font1 header1" style="font-size: 45px;line-height: 40px;">Booking Now</h1>
      <p class="font2 my-5 p-0" style="line-height: 27px; font-size: 16px;color:#828282;">You’re about to book a Diving Service “{{adventureData?.title}}” from {{adventureData?.date}} </p>
      <form [formGroup]="es_form" action="" class="mt-4">
        <div class="row">
          <div class="col-12 col-lg-6 p-3 my-3 d-flex flex-column gap-1">
            <label for="FormControlInput3" style="font-size: 20px;" class="form-label font2">First Name</label>
            <input [ngClass]="{'border-danger':fname.invalid && fname.touched}" formControlName="fname" type="text" class="form-control font2" id="FormControlInput3" style="padding: 15px 20px; font-size: 20px;background-color: #FFFDF3;border-color: #FBC972;" placeholder="Enter your first name">
                  <!-- start errors -->
                  <span class="text-danger d-flex " *ngIf="fname.invalid && fname.touched">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" style="min-height:15px;min-width:15px" class="m-1 text-danger bi-exclamation-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                    </svg>
                    <span class="text-danger text-wrap">
                      <span class="text-danger" *ngIf="fname.errors.required">First name is required</span>
                    </span>
                  </span>
                  <!-- end errors -->
          </div>
          <div class="col-12 col-lg-6 p-3 my-3 d-flex flex-column gap-1">
            <label for="FormControlInput4" style="font-size: 20px;" class="form-label font2">Last Name</label>
            <input [ngClass]="{'border-danger':lname.invalid && lname.touched}"  formControlName="lname" type="text" class="form-control font2" id="FormControlInput4" style="padding: 15px 20px; font-size: 20px;background-color: #FFFDF3;border-color: #FBC972;" placeholder="Enter your last name">
            <!-- start errors -->
            <span class="text-danger d-flex " *ngIf="lname.invalid && lname.touched">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" style="min-height:15px;min-width:15px" class="m-1 text-danger bi-exclamation-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
              </svg>
              <span class="text-danger text-wrap">
                <span class="text-danger" *ngIf="lname.errors.required">Last Name is required</span>
              </span>
            </span>
            <!-- end errors -->
          </div>

          <div class="col-12 col-lg-6 p-3 my-3 d-flex flex-column gap-1">
            <label for="FormControlInput1" style="font-size: 20px;" class="form-label font2">Email</label>
            <input [ngClass]="{'border-danger':email.invalid && email.touched}" formControlName="email" type="email" class="form-control font2" id="FormControlInput1" style="padding: 15px 20px; font-size: 20px;background-color: #FFFDF3;border-color: #FBC972;" placeholder="name@example.com">
            <!-- start errors -->
            <span class="text-danger d-flex " *ngIf="email.invalid && email.touched">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" style="min-height:15px;min-width:15px" class="m-1 text-danger bi-exclamation-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
              </svg>
              <span class="text-danger text-wrap">
                <span class="text-danger" *ngIf="email.errors.required">email is required</span>
                <span class="text-danger" *ngIf="email.errors.pattern && email.dirty">email shoud be ****@Example.com</span>
              </span>
            </span>
            <!-- end errors -->
          </div>
          <div class="col-12 col-lg-6 p-3 my-3 d-flex flex-column gap-1">
            <label for="FormControlInput2" style="font-size: 20px;" class="form-label font2">Telephone</label>
            <ngx-intl-tel-input  class="w-100" [cssClass]="phone.invalid && phone.touched? 'border-danger form-control font2 default-input':'form-control font2 default-input'" [enableAutoCountrySelect]="true" [enablePlaceholder]="true"
                [preferredCountries]="[CountryISO.UnitedStates]"
                [searchCountryFlag]="true" [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                [selectFirstCountry]="true" [phoneValidation]="true"
                [separateDialCode]="separateDialCode" [numberFormat]="PhoneNumberFormat.National" name="phone"
                [selectedCountryISO]="countryCode"
                formControlName="phone"
                [maxLength]="15"
                >
            </ngx-intl-tel-input>
            <!-- start errors -->
            <span class="text-danger d-flex " *ngIf="phone.invalid && phone.touched">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" style="min-height:15px;min-width:15px" class="m-1 text-danger bi-exclamation-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
              </svg>
              <span class="text-danger text-wrap">
                <span class="text-danger" *ngIf="phone.errors.required">Telephone is required</span>
                <span class="text-danger" *ngIf="phone.errors.required && !phone?.validatePhoneNumber?.valid"> & </span>

                <span class="text-danger" *ngIf="!phone?.validatePhoneNumber?.valid">Wrong number</span>
              </span>
            </span>
            <!-- end errors -->
          </div>


          <div class="col-12 p-3 d-flex flex-column gap-1 my-3">
            <button type="button" (click)="bookBtn()" [disabled]="es_form.invalid || isLoading" style="height: 54px;" mat-raised-button class="w-100 font2 bg-blue3 px-5 py-3 rounded rounded-3 btn text-white">
              <div style="font-size: 20px;font-weight: 700;" class="d-flex align-items-center font2">
                <div *ngIf="isLoading" class="spinner-border text-light mx-1" style="width: 21px;height: 21px;font-size: 10px;" role="status"></div>
                Book
              </div>
            </button>
          </div>


        </div>
      </form>
    </div>


    <div *ngIf="isSuccess" class="animate__animated animate__fadeInDown col-12 col-lg-8 p-2 my-2 d-flex flex-column justify-content-center align-items-center">
      <svg style="color: #fff;padding: 5px;" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check-lg bg-success rounded-circle " viewBox="0 0 16 16">
        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
      </svg>
      <h2 class="font1 my-5" style="font-weight: 700; font-size: 45px;">Congratulations!</h2>
      <p class="font2" style="color: #828282;font-size: 16px;">Your request has been registered successfully</p>
      <button [routerLink]="['/explore']" type="button" style="height: 54px; max-width: 600px;" mat-raised-button class="w-100 my-5 bg-blue3 px-5 py-3 rounded rounded-3 btn text-white">
        <span class="font2" style="font-size: 18px;font-weight: 700;">Explore more adventures</span>
      </button>
    </div>


    <div class="d-none d-lg-flex col-12 col-lg-4 p-2 my-2">
      <div class=" rounded rounded-4 d-flex flex-column overflow-hidden h-100" style="background-color: #FFFDF3;">
        <div class="overflow-hidden position-relative w-100" style="min-height: 380px;max-height: 380px;">
          <img class="hvr-grow w-100 h-100" [routerLink]="['/adventure/'+ adventureData?.id]" src="{{adventureData?.image}}" style="cursor: pointer; object-fit: cover;">
        </div>
        <div class="p-3 d-flex flex-column justify-content-between" style="max-height: 337px; height: 100%;">
          <h3 class="m-0 mt-3 font1 line-overflow-2" style="font-weight: 600; font-size: 23px;">{{adventureData?.title}}</h3>
          <div class="d-flex justify-content-between align-items-center my-3  flex-wrap gap-3">
            <div class="d-flex c-blue1 font2 align-items-center gap-1" style="font-size: 18px;font-weight: 700;">
              <!-- <img class="me-1" style="object-fit: cover;width: 13px" src="assets/images/categ1.svg" alt=""> -->
              <mat-icon style="width: 22px;height: 22px;font-size: 22px;" class="c-blue1 material-symbols-outlined">{{getCateg(adventureData?.category_id)?.icon}}</mat-icon>

              {{getCateg(adventureData?.category_id)?.title}}
            </div>
            <p class="m-0 c-blue3 font2" style="font-size: 16px;line-height: normal;" [innerHtml]="adventureData?.date | dateFIx"></p>
            <!-- <p class="m-0 c-blue3" style="font-size: 20px"> 15 <span class="mx-1" style="color: #767E86;">to</span> 8 6</p> -->

          </div>
          <p class="font2 my-4 line-overflow-3" style="font-size: 16px;line-height: normal;">{{adventureData?.description}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column">
              <span class="font2" style="color: #767E86; font-size: 13px;font-weight: 400;">Price Per Person</span>
              <div class="d-flex flex-row justify-content-center  align-items-center">
                <span class="c-blue2 font2 px-2" style="margin-top: 3px; font-size: 36px;font-weight: 700;">€</span>
                <span class="c-blue2 font2" style="font-size: 40px;font-weight: 700;line-height: 42px;">{{adventureData?.price | number: '1.0-0'}}</span>
              </div>
            </div>
            <span class="font2" style="font-size: 15px;font-weight: 700;">Booking Now</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
