.bg-blue2{
  color: white;
}
.hvr-grow
{
  transition: all 0.7s ease;
  filter: brightness(1);
  -webkit-filter: brightness(1);
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  &:hover
{
      filter: brightness(0.9);
      -webkit-filter: brightness(0.9);
}
}
.btn{
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
