
<div id="carouselExampleIndicators" class="carousel slide carousel-fade position-relative mb-5" data-bs-ride="carousel">


  <div class="carousel-indicators ca-controles  mx-0 mt-0 mb-3 mb-lg-0 me-lg-5" style="width: 50px;height: 100%;z-index: 3;">
    <ng-container *ngFor="let item of sliders;let i= index;">
      <button mat-icon-button class="d-flex justify-content-center align-items-center btn-toggler" type="button" data-bs-target="#carouselExampleIndicators" attr.data-bs-slide-to="{{i}}" attr.aria-label="Slide {{i+1}}" class="{{i==0 ? 'active' : ''}}" attr.aria-current="{{i==0 ? 'true' : ''}}">
        <span class="text rounded rounded-circle bg-white" style="width: 15px;height: 15px;cursor: pointer;"></span>
      </button>
    </ng-container>
    <button data-bs-target="#carouselExampleIndicators" data-bs-slide="prev"  mat-icon-button style="width: 40px;height: 40px; text-indent: inherit;opacity: 1;" class="d-none d-sm-block carousel-control-prev position-relative d-flex justify-content-center align-items-center">
      <mat-icon class="text-white position-absolute top-50 start-50 translate-middle" style="cursor: pointer;width: 25px;height: 25px;font-size: 25px;">expand_less</mat-icon>
    </button>
    <button data-bs-target="#carouselExampleIndicators" data-bs-slide="next" mat-icon-button  style="width: 40px;height: 40px; text-indent: inherit;opacity: 1;" class="d-none d-sm-block carousel-control-next d-flex justify-content-center align-items-center">
      <mat-icon class="text-white position-absolute top-50 start-50 translate-middle" style="cursor: pointer;width: 25px;height: 25px;font-size: 25px;">keyboard_arrow_down</mat-icon>
    </button>
  </div>


  <div class="carousel-inner">

    <ng-container *ngFor="let item of sliders;let i= index;">
      <div  data-bs-interval="6000" class=" img-overlay carousel-item vh-100 position-relative {{i == 0 ? 'active' : ''}}" >
        <img style="object-fit: cover;z-index: -1;" src="{{item?.image}}" class=" d-block w-100 h-100 position-absolute" alt="...">

        <div class="container-lg position-relative" style="z-index: 1;">
          <div class="row w-100" style="height: 100vh;">
            <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-center align-items-lg-start gap-3">
              <p style="font-size: 70px;line-height: 85px; " class="main-title c-white p-0" [innerHtml]="item?.title | logoInText"></p>
              <span class="font2 c-white mb-4 sub-title-header" style="font-size: 18px;line-height: 27px;" [innerHtml]="item?.subtitle | logoInText"></span>
              <button style="height: 54px;width: fit-content;" mat-raised-button class="font2 bg-blue3 px-5 py-3 rounded rounded-3 btn text-white">
                <span [routerLink]="['/explore']" class="font2" style="font-size: 18px;font-weight: 700;">
                  Explore Now
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>


  </div>
</div>

<section class="container-lg d-flex flex-column">
  <div class="d-flex justify-content-between">
    <div class="d-flex flex-column gap-2 align-items-center  align-items-md-start" style="width: 100%;">
      <h1 class="header-sec font1 header1 text-center text-temp" style="font-size: 45px;line-height: 40px;">Popular Adventure</h1>
      <p class="my-2 font2 text-center" style="color:#767E86;font-size: 22px;line-height: 27px;">Most popular trips in Egypt, from historical places to natural wonders.</p>
    </div>
    <div class="d-none d-lg-flex flex-column gap-3">
      <button [routerLink]="['/explore']" style="width: fit-content;height: 54px;" mat-raised-button class="w-100 bg-blue3 px-3 py-1 rounded rounded-3 btn text-white">
        <span class="font2" style="width: fit-content;font-size: 18px;font-weight: 700;">SEE ALL</span>

      </button>
      <div class="d-flex justify-content-between gap-3">
        <button (click)="ScrollLeft(wrapper)" style="width: fit-content;height: 54px;background-color: #828282;" mat-raised-button class="px-3 rounded rounded-3 btn text-white">
          <mat-icon class="text-white m-0" style="font-size: 37px;width: 37px;height:37px">navigate_before</mat-icon>
        </button>
        <button (click)="ScrollRight(wrapper)" style="width: fit-content;height: 54px;background-color: #FBC972;" mat-raised-button class="px-3 rounded rounded-3 btn text-white">
          <mat-icon class="text-white m-0" style="font-size: 37px;width: 37px;height:37px">navigate_next</mat-icon>
        </button>
      </div>
    </div>
  </div>

<!-- start card -->
  <div #wrapper class="overflow-hidden w-100">
    <div class="row d-none d-lg-flex flex-row flex-nowrap" style="margin-top: 40px;" >
      <ng-container *ngFor="let item of adventuresData?.result ?adventuresData.result : []">
        <div *ngIf="item.title != 'transport'" class="col-12 col-md-6 col-lg-4 p-2 fadeInUp animated">
          <div class=" rounded rounded-4 d-flex flex-column overflow-hidden h-100" style="background-color: #FFFDF3;">
            <div class="overflow-hidden position-relative w-100 view-img-con" [routerLink]="['/adventure/'+ item?.id]" style="height: 380px;">
              <img class="hvr-grow w-100 h-100"  src="{{item?.image}}" style="cursor: pointer; object-fit: cover;">
            </div>
            <div class="p-3 d-flex flex-column justify-content-between" style="min-height: 280px;">
              <div>
                <h3 class="m-0 font1" style="font-weight: 600; font-size: 23px;">{{item?.title}}</h3>

                <div class="d-flex justify-content-between align-items-center my-3">
                  <div class="d-flex c-blue1 font2 align-items-center  gap-1" style="font-size: 18px;font-weight: 700;">
                    <!-- <img class="me-1" style="object-fit: cover;width: 13px" src="assets/images/categ1.svg" alt=""> -->
                    <mat-icon style="width: 22px;height: 22px;font-size: 22px;" class="c-blue1 material-symbols-outlined">{{getCateg(item.category_id)?.icon}}</mat-icon>

                    {{getCateg(item.category_id)?.title}}
                  </div>
                  <p class="m-0 c-blue3 font2" style="font-size: 16px"  [innerHtml]="item?.date | dateFIx"></p>
                  <!-- <p class="m-0 c-blue3" style="font-size: 20px"> 15 <span class="mx-1" style="color: #767E86;">to</span> 8 6</p> -->

                </div>
                <p class="font2 my-4  line-overflow-4" style="font-size: 16px;line-height: normal;">{{item?.description}}</p>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                  <span class="font2" style="color: #767E86; font-size: 13px;font-weight: 400;">Price Per Person</span>
                  <div class="d-flex flex-row justify-content-center gap-1 align-items-center">
                    <span class="c-blue2 font2" style="margin-top: 3px; font-size: 36px;font-weight: 700;">€</span>
                    <span class="c-blue2 font2" style="font-size: 40px;font-weight: 700;line-height: 42px;">{{item?.price | number: '1.0-0'}}</span>
                  </div>
                </div>
                <button [routerLink]="['/adventure/'+ item?.id +'/book']" style="width: fit-content;height: 54px;" mat-raised-button class="font2 bg-blue3 px-3 py-1 rounded rounded-3 btn text-white">
                  <span class="font2" style="font-size: 15px;font-weight: 700;">Book Now</span>
                </button>
              </div>
            </div>
          </div>
        </div>
    </ng-container>

    </div>
  </div>
<!-- end card -->

<div class="d-flex d-lg-none flex-column">
  <div id="carouselExample3" class="carousel slide" style="width: 100%;margin-top: 70px" >
    <div class="carousel-inner row">
      <ng-container *ngFor="let item of adventuresData?.result ?adventuresData.result : [];let i = index;">
        <div *ngIf="item.title != 'transport'" class="col-12 col-md-6 p-2 carousel-item" [ngClass]="{'active': i==0}">
          <div class=" rounded rounded-4 d-flex flex-column overflow-hidden h-100" style="background-color: #FFFDF3;">
            <div class="overflow-hidden position-relative w-100 view-img-con" [routerLink]="['/adventure/'+ item?.id]" style="height: 380px;">
              <img class=" w-100 h-100 view-img"  src="{{item?.image}}" style="cursor: pointer; object-fit: cover;">
            </div>
            <div class="p-3 d-flex flex-column justify-content-between" style="min-height: 280px;">
              <div>
                <h3 class="m-0 font1" style="font-weight: 600; font-size: 23px;">{{item?.title}}</h3>

                <div class="d-flex justify-content-between align-items-center my-3">
                  <div class="d-flex c-blue1 font2 align-items-center  gap-1" style="font-size: 18px;font-weight: 700;">
                    <!-- <img class="me-1" style="object-fit: cover;width: 13px" src="assets/images/categ1.svg" alt=""> -->
                    <mat-icon style="width: 22px;height: 22px;font-size: 22px;" class="c-blue1 material-symbols-outlined">{{getCateg(item.category_id)?.icon}}</mat-icon>

                    {{getCateg(item.category_id)?.title}}
                  </div>
                  <p class="m-0 c-blue3 font2" style="font-size: 16px"  [innerHtml]="item?.date | dateFIx"></p>
                  <!-- <p class="m-0 c-blue3" style="font-size: 20px"> 15 <span class="mx-1" style="color: #767E86;">to</span> 8 6</p> -->

                </div>
                <p class="font2 my-4  line-overflow-4" style="font-size: 16px;line-height: normal;">{{item?.description}}</p>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                  <span class="font2" style="color: #767E86; font-size: 13px;font-weight: 400;">Price Per Person</span>
                  <div class="d-flex flex-row justify-content-center gap-1 align-items-center">
                    <span class="c-blue2 font2" style="margin-top: 3px; font-size: 36px;font-weight: 700;">€</span>
                    <span class="c-blue2 font2" style="font-size: 40px;font-weight: 700;line-height: 42px;">{{item?.price | number: '1.0-0'}}</span>
                  </div>
                </div>
                <button [routerLink]="['/adventure/'+ item?.id +'/book']" style="width: fit-content;height: 54px;" mat-raised-button class="font2 bg-blue3 px-3 py-1 rounded rounded-3 btn text-white">
                  <span class="font2" style="font-size: 15px;font-weight: 700;">Book Now</span>
                </button>
              </div>
            </div>
          </div>
        </div>
    </ng-container>
    </div>
  </div>
  <div class="d-flex d-lg-none flex-column gap-3 my-5">
    <button [routerLink]="['/explore']" style="width: fit-content;height: 54px;" mat-raised-button class="w-100 bg-blue3 px-3 py-1 rounded rounded-3 btn text-white">
      <span class="font2" style="width: fit-content;font-size: 18px;font-weight: 700;">SEE ALL</span>
    </button>
    <div class="d-flex justify-content-between gap-3">
      <button data-bs-target="#carouselExample3" data-bs-slide="prev" style="width: fit-content;height: 54px;background-color: #828282;" mat-raised-button class="w-100 px-3 rounded rounded-3 btn text-white">
        <mat-icon class="text-white m-0" style="font-size: 37px;width: 37px;height:37px">navigate_before</mat-icon>
      </button>
      <button data-bs-target="#carouselExample3" data-bs-slide="next" style="width: fit-content;height: 54px;background-color: #FBC972;" mat-raised-button class="w-100 px-3 rounded rounded-3 btn text-white">
        <mat-icon class="text-white m-0" style="font-size: 37px;width: 37px;height:37px">navigate_next</mat-icon>
      </button>
    </div>
  </div>
</div>
</section>

<section class="container-lg d-flex flex-column align-items-center my-5">
  <h1 class="header-sec font1 text-center header1" style="font-size: 45px;line-height: 40px;">Our Special Services</h1>
  <p class="mt-2 font2 text-center" style="color:#767E86;font-size: 22px;line-height: 32px;">Check out our services that designed specially for your comfort</p>
  <div class="row justify-content-center w-100 d-none d-lg-flex" style="margin-top: 30px;">
    <ng-container *ngFor="let item of categories">
      <div class="col-12 col-md-6 col-lg-3 p-3">
        <div [routerLink]="['../explore']" [queryParams]="{'filter':item.id,'d':item.title}"  class="categ-overlay rounded rounded-5 overflow-hidden position-relative" style="height: 450px;cursor: pointer;">
          <img src="{{item.image}}" alt="" class="h-100 w-100" style="object-fit: cover;">
          <div class="span-text d-flex c-white position-absolute align-items-center bottom-0 start-50 translate-middle-x mb-5 font2">
            <mat-icon style="width: 26px;height: 26px;font-size: 26px;" class="c-white mx-2 material-symbols-outlined">{{item.icon}}</mat-icon>

            <span class="font2" style="font-size: 20px;font-weight: 700;">{{item.title}}</span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div id="carouselExample2" class="carousel slide d-flex d-lg-none" style="width: 100%;">
    <div class="carousel-inner row">
      <ng-container *ngFor="let item of categories;let i = index;">
        <div class="col-12 p-3 carousel-item"  [ngClass]="{'active': i==0}">
          <div [routerLink]="['../explore']" [queryParams]="{'filter':item.id,'d':item.title}" class="categ-overlay rounded rounded-5 overflow-hidden position-relative" style="height: 450px;cursor: pointer;">
            <img src="{{item.image}}" alt="" class="h-100 w-100" style="object-fit: cover;">
            <div class="span-text d-flex c-white position-absolute align-items-center bottom-0 start-50 translate-middle-x mb-5 font2">
              <mat-icon style="width: 26px;height: 26px;font-size: 26px;" class="c-white mx-2 material-symbols-outlined">{{item.icon}}</mat-icon>

              <span class="font2" style="font-size: 20px;font-weight: 700;">{{item.title}}</span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="d-flex d-lg-none flex-column gap-3 w-100 my-5">
    <div class="d-flex justify-content-between gap-3">
      <button  data-bs-target="#carouselExample2" data-bs-slide="prev" style="width: 100%;height: 54px;background-color: #828282;" mat-raised-button class="w-100 px-3 rounded rounded-3 btn text-white">
        <mat-icon class="text-white m-0" style="font-size: 37px;width: 37px;height:37px">navigate_before</mat-icon>
      </button>
      <button  data-bs-target="#carouselExample2" data-bs-slide="next" style="width: 100%;height: 54px;background-color: #FBC972;" mat-raised-button class="w-100 px-3 rounded rounded-3 btn text-white">
        <mat-icon class="text-white m-0" style="font-size: 37px;width: 37px;height:37px">navigate_next</mat-icon>
      </button>
    </div>
  </div>
</section>
